<footer>
    <div class="bottom">
    <div class="zdy_container" style="padding: 20px 0;border:1px solid transparent">
        <ul class="bottom_ul">
            <li>
                <a class="ul_a" href="#">contact us</a>
                <ol class="bottom_ol">
                    <li class="li_1"><img style="margin-right:5px;margin-left:3px;" src="images/li_adr.png" height="14" width="10" alt="">49 Archdale,2B Charlestone</li>
                    <li class="li_1"><img style="margin-right:2px" src="images/li_phone.png" height="12" width="16" alt="">+777 (100) 1234</li>
                    <li class="li_1"><img style="margin-right:2px" src="images/li_let.png" height="10" width="15" alt="">mail@example.com</li>
                </ol>
            </li>
            <li>
                <a class="ul_a" href="#">information</a>
                <ol class="bottom_ol">
                    <li><a href="#">About As</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Secure payment</a></li>
                </ol>
            </li>
            <li>
                <a class="ul_a" href="#">constumer servise</a>
                <ol class="bottom_ol">
                    <li><a href="#">About As</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Secure payment</a></li>
                </ol>
            </li>
            <li>
                <a class="ul_a" href="#">my account</a>
                <ol class="bottom_ol">
                    <li><a href="#">About As</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Secure payment</a></li>
                </ol>
            </li>
        </ul>
    </div>
    <div class="zdy_container bg_bot">
        <div class="bottom_left">
            <img style="vertical-align: middle;margin:0 5px;" src="images/index_21.png" alt=""><span style="font-size:17px;color:#444">Newsletter</span>
            <span style="display:inline-block;margin-left: 8px;color: #707070;">Subscribe to notifications about discounts from our store</span>
            <div style="display:inline-block;height:100%;position:relative;">
                <input class="email_input" type="text" placeholder="Enter your email address...">
                <span class="iconfont icon-xiangyoujiantou right_ico"></span>
                <span></span>
            </div>
        </div>
        <div class="bottom_right">
            <img src="images/payments.png" height="32" width="227" alt="">
        </div>
    </div>
    </div>
    <div class="bottom_bg2">
        <div class="zdy_container">
            <div class="bg2_left">© Diamond Store Theme, 2013</div>
            <ul class="bg2_right">
                <li><span class="right_li1"></span></li>
                <li><span class="right_li2"></span></li>
                <li><span class="right_li3"></span></li>
            </ul>
        </div>
    </div>
</footer>