<div class="top">
        <div class="zdy_container top_center">
            <span class="top_span">Sign up</span>
            <span class="top_span">Log in</span>
        </div>
    </div>
    <section class="header">
        <div class="zdy_container">
            <div class="header_left">
                <img src="images/index_3.png" alt="">
                <h2 style="color:#999999;font-size:12px;">Online Store Theme</h2>
            </div>
            <div class="header_right">
                <div class="right_top">
                    <span class="top_left"> Welcome visitor you can <a href="#">login</a> or <a href="#">create an account</a></span>
                    <div class="top_right">
                        <div style="position:relative;display:inline-block">
                            <input type="text" placeholder="Search entire store here...">
                            <div class="sousuo_dw"><span class="iconfont icon-sousuo1"></span></div>
                        </div>
                        <div style="display:inline-block">
                            <div class="gouwu"><span class="iconfont icon-gouwudai01"></span></div><b style="color:#000;"> CART $0.00</b>
                        </div>
                    </div>
                </div>
                <div class="nav">
                    
                <ul class="right_top_ul">
                    <li class="active_li"><a class="hover_a" href="#/nav1">Home</a></li>
                    <li><a class="hover_a" href="#/nav2">SOLIDS</a></li>
                    <li><a class="hover_a" href="#/nav3">Liquids</a></li>
                    <li><a class="hover_a" href="#/nav4">Spray</a></li>
                    <li><a class="hover_a" href="#/nav5">Electric</a></li>
                    <li><a class="hover_a" href="#/nav6">For cars</a></li>
                    <li><a class="hover_a" href="#/nav7">All pages</a></li>
                </ul>
                </div>
            </div>
        </div>
    </section>
